<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Test lit application 1 on Heroku</h1>
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h3><span class="glyphicon glyphicon-info-sign"></span>Test lit sample app</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus metus elit, congue at blandit id, pellentesque consectetur nisl.
        Nulla in sem libero. Sed sapien enim, tempor ut risus et, venenatis aliquam elit. Pellentesque varius lobortis tellus, at tempus elit laoreet viverra.
        Vivamus porta dolor vitae lorem pellentesque, non facilisis arcu pretium. Aenean ut felis aliquet, ullamcorper risus non, tincidunt ligula.
        Nam pretium velit quis eleifend tempor. Nullam a tortor sit amet dolor pharetra mollis. Vestibulum lacinia, nibh elementum accumsan ultrices,
        nunc risus aliquam dolor, sed viverra turpis enim a tellus. Integer posuere dui vel sodales tempor. Phasellus quis pellentesque urna.
        Mauris in suscipit justo. Nulla porttitor ultrices felis, nec fermentum est eleifend eget. Sed vel tortor a diam suscipit feugiat pellentesque nec purus.
        Sed id urna id leo facilisis ultricies. In nisi ligula, scelerisque id turpis vel, euismod cursus lacus.
      </p>
      <p>
        Sed sagittis vitae nisi dignissim commodo. Vivamus laoreet in augue nec feugiat. Proin in libero tempus, laoreet nunc eu, tincidunt purus.
        Proin ac ipsum porta, pellentesque eros id, convallis ipsum. Curabitur consectetur mi at gravida euismod. Vivamus ut pulvinar ipsum.
        Integer et pulvinar enim. Integer egestas auctor nisi, ac luctus velit finibus ac.
      </p>
      <p>
        Donec bibendum nisi vitae nisi dignissim, in imperdiet purus ullamcorper. Proin vestibulum mauris quis auctor elementum. Quisque sagittis
        neque vitae turpis convallis, sed pretium est vulputate. Praesent id elementum purus. Curabitur arcu purus, accumsan nec diam in,
        feugiat laoreet elit. Curabitur sagittis ipsum eu scelerisque ultrices. Sed fermentum molestie diam, vel tempus nunc accumsan non.
        Nullam tempor vel odio ut bibendum. Quisque egestas ligula pharetra, porta turpis at, malesuada quam.
      </p>
      <p>
        Curabitur sit amet tempor libero. Phasellus eu porttitor lectus. Curabitur sed blandit neque. Cras sodales cursus arcu vel dictum.
        In ante sem, convallis in scelerisque sit amet, rhoncus vel orci. Vestibulum scelerisque purus ac orci dapibus pretium. Proin semper,
        nibh ac posuere tristique, augue libero malesuada nisl, ac sollicitudin lacus enim nec lectus. Donec efficitur libero turpis, eu vehicula
        libero vehicula a. Ut nec tellus lacus. Praesent vitae lobortis metus, sed vestibulum mi. Vestibulum ante ipsum primis in faucibus orci
        luctus et ultrices posuere cubilia curae; Integer vitae arcu vitae erat volutpat tempor vitae id quam.
      </p>
      <p>
        Nullam posuere justo augue, sit amet pulvinar enim tristique eget. Proin sed posuere tortor. Ut porta erat nulla, congue consectetur ex posuere et.
        Sed ultrices velit at nulla commodo cursus. Maecenas ac eros vitae ligula condimentum bibendum viverra nec velit. Fusce tempor, urna sed fringilla
        sollicitudin, tortor ligula fringilla mauris, id rutrum mauris sapien vitae lacus. Etiam viverra hendrerit ante vitae feugiat.
        Pellentesque rutrum faucibus lectus quis commodo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
    </div>
  </div> <!-- row -->
</div>

</body>
</html>
